{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="container">
    <h3>Product: {{ product.title }}</h3><hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" alt="" class="img-fluid">
            <div class="row">
                {% for prod_im in product_image %}
                <div class="col-md-4 p-4">
                    <a href="{{ prod_im.image.url }}" target="_blank">
                        <img src="{{ prod_im.image.url }}" class="img-fluid" style="height: 100px; object-fit: contain;" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-8">
            <h4>{{ product.title }}</h4>
            <h5>Category: {{ product.category }}</h5>
            <p>Views: {{ product.view_count }}</p>
            <h5>Price: <strike>{{ product.market_price }}$</strike> {{ product.selling_price }}$</h5>
            <a href="{% url 'add-to-card' product.id %}" class="btn btn-primary">Add To Cart</a>
            <hr>
            <p class="text-info">Warranty: {{ product.warranty }}</p>
            <p class="text-info">Return Policy: {{ product.return_policy }}</p>
            <hr>
            <p>{{ product.description }}</p>
        </div>
    </div>

</div>
{% endblock %}
