{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="container">
    <h3>{% trans "Product" %}: {{ product.title }}</h3><hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" alt="" class="img-fluid">
            <div class="row">
                {% for prod_im in product_image %}
                <div class="col-md-4 p-4">
                    <a href="{{ prod_im.image.url }}" target="_blank">
                        <img src="{{ prod_im.image.url }}" class="img-fluid" style="height: 100px; object-fit: contain;" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-8 product_data">
            <h4>{{ product.title }}</h4>
            <h5>{% trans "Category" %}: {{ product.category }}</h5>
            <p>{% trans "Views" %}: {{ product.view_count }}</p>
            <h5>{% trans "Price" %}: <strike>{{ product.market_price }}$</strike> {{ product.selling_price }}$</h5>

            {% csrf_token %}
            <a href="" class="btn btn-primary add-to-cart">{% trans "Add To Cart" %}</a>
            <a href="" class="btn btn-primary product-favourite">
                {% include 'shop/include/favourite.html' %}
            </a>
            <input type="hidden" value="{{ product.id }}" class="prod_id">
            <hr>

            <p class="text-info">{% trans "Warranty" %}: {{ product.warranty }}</p>
            <p class="text-info">{% trans "Return Policy" %}: {{ product.return_policy }}</p>
            <hr>
            <p>{{ product.description }}</p>
        </div>
    </div>

</div>
{% endblock %}
