{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Checkout" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>{% trans "Items in the cart" %}</h3>
            <table class="table" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>{% trans "Product" %}</th>
                        <th>{% trans "Rate" %}</th>
                        <th>{% trans "Quantity" %}</th>
                        <th>{% trans "Subtotal" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_product in cart_products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cart_product.product.title }}</td>
                        <td>{{ cart_product.rate }}</td>
                        <td>{{ cart_product.quantity }}</td>
                        <td>{{ cart_product.subtotal }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">{% trans "Total" %}</th>
                        <th>{{ final_price }}$</th>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'my-cart' %}">{% trans "Update Cart" %}</a>
        </div>
        <div class="col-md-6">
            <h3>{% trans "Checkout" %}</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">{% trans "Place order" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
