{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "My cart" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4>{% trans "Items in my cart" %}</h4><hr>
            <table class="table cart_data">
                <thead>
                    <tr class="text-center">
                        <th>{% trans "Product" %}</th>
                        <th>{% trans "Rate" %}</th>
                        <th>{% trans "Quantity" %}</th>
                        <th>{% trans "Subtotal" %}</th>
                        <th>{% trans "Delete" %}</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% include 'cart/include/cart_product_list.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
