{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Customer Information</h3><hr>
            <p><span class="font-weight-bold">Username: </span>
                {{ customer.user.username }}
            </p>
            <p><span class="font-weight-bold">Email: </span>
                {% if customer.user.email %}
                    {{ customer.user.email }}
                {% else %}
                    Not specified
                {% endif %}
            </p>
            <p><span class="font-weight-bold">Joined on: </span>
                {{ customer.joined_in }}
            </p>
            <p><span class="font-weight-bold">Name: </span>
                {% if customer.full_name %}
                    {{ customer.full_name }}
                {% else %}
                    Not specified
                {% endif %}
            </p>
            <p><span class="font-weight-bold">Address: </span>
                {% if customer.address %}
                    {{ customer.address }}
                {% else %}
                    Not specified
                {% endif %}
            </p>
            <p><span class="font-weight-bold">Phone: </span>
                {% if customer.phone %}
                    {{ customer.phone }}
                {% else %}
                    Not specified
                {% endif %}
            </p>
            <a class="btn btn-primary" href="{% url 'customer-update-profile' customer.id %}">Update Customer Information</a>
        </div>
        <div class="col-md-8">
            <h3>Customer Orders</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Order ID</th>
                        <th>Amount</th>
                        <th>Ordered on</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'order-detail' order.id %}">ORDER_{{ order.id }}</a></td>
                        <td>{{ order.total }}$</td>
                        <td>{{ order.created_at|timesince }} ago</td>
                        <td>{{ order.order_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
