{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Forgot password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.msg == "sent" %}
            <h3>{% trans "Password reset link is sent to your email address. Please check your email." %}</h3>
            {% else %}
            <h3>{% trans "Enter your email used in making customer account to get password reset link." %}</h3>
            {% if request.GET.msg == "error" %}
            <h4 class="text-danger">{% trans "Something went wrong, please enter your email again." %}</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>{% trans "Get Reset Link" %}</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
